body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.node rect {
    fill: rgb(160, 160, 160);
    stroke-width: 4px;
}

.node text{
    font: 10px sans-serif;
    fill: whitesmoke;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 3px;
    shape-rendering: geometricPrecision;
}

.link:hover{
    stroke: darkred;
}

.d3-tip {
    font: 12px sans-serif;
    padding: 12px;
    background: rgb(175, 175, 175);
    opacity: 0.1;
    color: #fff;
    border-radius: 10px;
}

svg {
    border-width: 1px;
    border-radius: 10px;
}